---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Imprint/Privacy Policy">
  <section class="impressum">
    <h1>Imprint/Legal Notice</h1>
    <p>
      Information according to ยง 5 TMG, represented by & 
      <br />
      <br />
      Henry Gressmann
      <br />
      Lenore-Volz-Str. 17
      <br />
      70372 Stuttgart
      <br />
      Germany
      <br />
      <br />
      E-Mail: <Link href="mailto:mail@henrygressmann.de">
        mail@henrygressmann.de
      </Link>
      <br />
      Tel: +49 0711-25979097
    </p>
    <p>
      <br />
      This Imprint is valid for the following websites:
      <br />
      <Link href="https://henrygressmann.de">https://henrygressmann.de</Link>
      <br />
      <Link href="https://blog.henrygressmann.de">https://blog.henrygressmann.de</Link>
      <br />
      <Link href="https://linkedin.com/in/henrygressmann">
        https://linkedin.com/in/henrygressmann
      </Link>
      <br />
      <Link href="https://github.com/explodingcamera">
        https://github.com/explodingcamera
      </Link>
      <br />
      <Link href="https://liwan.dev">https://liwan.dev</Link>
      <br />
      <Link href="https://nots.dev">https://nots.dev</Link>
      <br />
      <Link href="https://henry.dawdle.space">https://henry.dawdle.space</Link>
    </p>

    <p>
      <br />
      The European Commission provides a platform for out-of-court online dispute
      resolution (ODR platform), which can be accessed at
      <Link href="https://www.ec.europa.eu/consumers/odr">
        www.ec.europa.eu/consumers/odr
      </Link>. Consumers have the possibility to use this platform for the
      settlement of their disputes. I am neither obliged nor willing to
      participate in the dispute resolution procedure.
    </p>

    <h1>Privacy Policy</h1>
    <p>
      See 
      <Link href="/privacy">Privacy Policy</Link>
    </p>
  </section>
</MainLayout>

<style>
  section.impressum {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3em;
      margin-top: 4rem;
    }

    h2 {
      font-size: 2em;
      margin-top: 3rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      margin-top: 2rem;
    }

    a {
      display: inline-block;
    }

    p {
      margin-top: 0.5rem;
      font-size: 1.3rem;
      line-height: 1.7;
      max-width: 60rem;
      color: #ececec;
    }
  }
</style>
