---
import ProjectCard from "../components/ProjectCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import projects from "./../projects.json";
---

<MainLayout title="My Work">
  <div class="container">
    <masonry-grid>
      {projects.map((p) => <ProjectCard {...p} />)}
    </masonry-grid>
  </div>
</MainLayout>

<style>
  .container {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }

  /* size below 1080 */
  @media (max-width: 1080px) {
    .container {
      animation-delay: 0.4s;
    }
  }
</style>
