---

---

<div class="wrapper" data-starfield-wrapper transition:persist>
  <canvas class="starfield" data-starfield-canvas></canvas>
</div>

<style>
  .wrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .wrapper[data-starfield-wrapper-loaded] {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      requestIdleCallback(
        async () => {
          const { StarfieldBG } = await import("./Background.ts");
          const canvas: HTMLCanvasElement = document.querySelector(
            "[data-starfield-canvas]"
          )!;

          new StarfieldBG(canvas);

          document
            .querySelector("[data-starfield-wrapper]")!
            .setAttribute("data-starfield-wrapper-loaded", "true");
        },
        { timeout: 2000 }
      );
    },
    { once: true }
  );
</script>
