---
import github from "feather-icons/dist/icons/github.svg?raw";
import key from "feather-icons/dist/icons/key.svg?raw";
import linkedin from "feather-icons/dist/icons/linkedin.svg?raw";
import HeaderItem from "./HeaderItem.astro";
---

<style>
  .header {
    @media print {
      display: none;
    }
  }

  .header ol {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1.8rem;
    margin: 1rem 0 2rem 0;
    overflow: hidden;
    gap: 0.1rem;
  }

  .header ::global(.home) {
    display: none;
  }

  @media only screen and (max-device-width: 500px) {
    .header ::global(.home) {
      display: block;
    }
  }

  .header ::global(.title) {
    margin-right: auto;
    font-size: 1rem;
    transform: translateY(0);
  }

  @media only screen and (max-device-width: 500px) {
    .header ::global(.title) {
      display: none;
    }
  }

  .header ::global(.icon) {
    margin: 0;
  }
</style>

<nav class="header">
  <ol>
    <HeaderItem gradient href="/" class:list={"title"}>
      Henry Gressmann
    </HeaderItem>
    <HeaderItem  gradient href="/" class:list={["home"]}>
      Home
    </HeaderItem>
    <HeaderItem  href="https://blog.henrygressmann.de" newTab>
      Blog
    </HeaderItem>
    <HeaderItem  href="/work">Work</HeaderItem>
    <HeaderItem  href="/me">About</HeaderItem>
    <HeaderItem
      aria-label="Github"
      href="https://github.com/explodingcamera"
      newTab
      gradient
      class:list={["icon"]}
    >
      <Fragment set:html={github} />
    </HeaderItem>
    <HeaderItem
      aria-label="PGP Keys"
      href="https://keybase.io/explodingcamera/pgp_keys.asc"
      newTab
      gradient
      class:list={["icon"]}
    >
      <Fragment set:html={key} />
    </HeaderItem>
    <HeaderItem
      aria-label="LinkedIn"
      href="https://www.linkedin.com/in/henrygressmann/"
      newTab
      gradient
      class:list={["icon"]}
    >
      <Fragment set:html={linkedin} />
    </HeaderItem>
  </ol>
</nav>
