html {
  background: black;
  font-family: "Euclid Square", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#nprogress .bar {
  background: linear-gradient(270deg, #ff0000, #008cff, #50ff00);
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 500;
}

@font-face {
  font-family: "Euclid Square";
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Regular-WebS.woff2) format("woff2"),
    url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Regular-WebS.woff) format("woff");
  font-display: block;
}

/* latin */
/* @font-face {
	  font-family: 'Euclid Square';
	  font-style: normal;
	  font-weight: 600;
	  src: url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Semibold-WebS.woff2) format('woff2'),
		  url(https://fonts.henrygressmann.de/fonts/euclid/EuclidSquare-Semibold-WebS.woff) format('woff');
	  font-display: block;
  } */
