html {
  background: black;
  font-family: var(--font-google-sans);
  --accent-color: #fff;
  --cyan-accent: #00e7ff;
}

masonry-grid:not([data-layout-ready]) {
  visibility: hidden;
}

#nprogress .bar {
  background: var(--accent-color);
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 500;
}

a:link,
a:visited {
  color: white;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #888;
  text-underline-offset: 0.15em;
  transition: text-decoration-color 0.15s ease-out;
}

a:hover {
  text-decoration-color: white;
}
