---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "./../global.css";
import "modern-normalize/modern-normalize.css";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en" transition:animate="none" data-initial-load="false">
  <head>
    <ViewTransitions />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google" content="notranslate" />
    <meta name="referrer" content="no-referrer" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Henry Gressmann" />
    <meta name="twitter:site" content="@explodingcamera" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="freelancer, berlin, react, rust, open-source, henry gressmann, typescript"
    />
    <meta
      name="description"
      content="I'm Henry Gressmann, a freelance software engineer based in Berlin. I've been creating production-ready software for more than six years. I'm currently working on creating developer tooling, application security, and react/react-native apps."
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script
      is:inline
      defer
      data-domain="henrygressmann.de"
      src="https://a.explodingcamera.com/js/script.js"></script>
    <script>
      document.addEventListener(
        "astro:page-load",
        () => {
          document.documentElement.dataset.initialLoad = "true";
        },
        { once: true }
      );
      document.addEventListener("astro:route-change", () => {
        document.documentElement.dataset.initialLoad = "false";
      });
    </script>
  </body>
</html>
