---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "./../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="referrer" content="no-referrer" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google" content="notranslate" />
    <meta name="referrer" content="no-referrer" />
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Henry Gressmann" />
    <meta name="twitter:site" content="@explodingcamera" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script
      is:inline
      defer
      data-domain="henrygressmann.de"
      src="https://a.explodingcamera.com/js/script.js"></script>
  </body>
</html>
