---
import BaseLayout from "./BaseLayout.astro";
import Background from "../components/Background.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	disableHeader?: boolean;
	disableBackground?: boolean;
	backgroundColor?: string;
}

const { title, backgroundColor, disableHeader, disableBackground } =
	Astro.props;

import type {
	TransitionAnimationPair,
	TransitionDirectionalAnimations,
} from "astro";

const anim: TransitionAnimationPair = {
	old: {
		name: "fadeIn",
		duration: 100,
		easing: "linear",
		fillMode: "forwards",
	},
	new: {
		name: "fadeOut",
		duration: 400,
		easing: "cubic-bezier(0.46, 0.03, 0.52, 0.96)",
		fillMode: "backwards",
	},
};

const myFade: TransitionDirectionalAnimations = {
	forwards: anim,
	backwards: anim,
};
---

<style is:global>
  @keyframes fadeIn {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<BaseLayout title={title}>
  {!disableBackground && <Background />}
  <div class="impressum">
    <a href="/impressum">legal notice/privacy policy</a>
  </div>
  <div class="layoutwrapper">
    {!disableHeader && <Header />}
    <div transition:animate={myFade}>
      <slot />
    </div>
  </div>
</BaseLayout>

<style define:vars={{ backgroundColor }}>
  @keyframes slidein {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .layoutwrapper {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
  }

  @media only screen and (max-device-width: 500px) {
    .layoutwrapper {
      padding: 1rem;
    }
  }

  .layoutwrapper > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .layoutwrapper > div > :not(nav) {
    opacity: 0;
    animation-delay: 0.1s;
    animation-duration: 0.9s;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    animation-fill-mode: forwards;
    animation-name: slidein;
  }

  .fallbackbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color, black);
    z-index: -1;
    overflow: hidden;
  }

  .impressum {
    font-weight: 500;
    font-size: 1.1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-bottom: 1.2rem;
    
    a {
      color: #777777;
      padding: 1.2rem;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
        color: white;
      }
    }
  }
</style>
